
<div class="container">



<% @songs.each do |song|%>
    <div class="twelve columns">
        <div class="six columns">
            <h2><%= song[:title] %></h2>
        </div>
        <div class="six columns">
            <img src="<%= song[:artwork_url] %>" alt="">
        </div>
    </div>
<% end %>




</div>